.gridContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    overflow: hidden;
}

/* Header */
.header {
    grid-row: 1;
    grid-column: 1;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem;
    position: relative;
    align-items: center;
}

.mainContent {
    grid-row: 2;
    grid-column: 1;
    z-index: 5;
    position: relative;
    text-align: center;
}

.overlayText {
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
    z-index: 10;
    text-align: center;
    padding-bottom: 3rem;
}

.nextButtonEnding {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    width: 15vw;
    max-width: 180px;
    aspect-ratio: 25 / 10;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 999;
    text-align: center;
    background-image: url('../assets/volgende-frame.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin-top: 0;
    background-color: transparent;
}

.textAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.backgroundLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

.backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.animationBlockTimeline {
    margin-right: 5%;
    align-self: center;
}

.animationBlockTimeline video {
    width: 95%;
    height: 90%;
    display: block;
}

.hotspotContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    pointer-events: none;
}

.hotspotButton {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    pointer-events: all;
}

.hotspot1 {
    top: 21%;
    left: 13%;
}

.hotspot2 {
    top: 25%;
    left: 85%;
}

.hotspot3 {
    top: 75%;
    left: 4%;
}

.hotspot4 {
    top: 70%;
    left: 85%;
}

.hotspot5 {
    top: 72%;
    left: 28%;
}

.hotspot6 {
    top: 72%;
    left: 60%;
}

.tipPopup {
    position: absolute;
    z-index: 30;
    cursor: pointer;
    width: clamp(180px, 30vw, 240px);
    aspect-ratio: 1 / 1.1;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupBackground {
    position: relative;
    aspect-ratio: 100 / 100;
    background-image: url('https://dl.dropboxusercontent.com/scl/fi/vs7vz4ku0xoyolvdd7auj/borderpopup.png?rlkey=zs1phe4xn3egkdlgywgntw621');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3rem;
    box-sizing: border-box;
}

.popupText {
    font-size: 0.95rem;
    line-height: 1.4;
    text-align: center;
    max-width: 100%;
    word-wrap: break-word;
}

.exitOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff4f1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.reminderText {
    color: #2B2B2B;
    font-size: 1.5rem;
    text-align: center;
    max-width: 80%;
    animation: fadeIn 0.6s ease-in-out;
}

.nextButtonEnding:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}