.indicatorContainer {
    background-color: aqua;
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.dot {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: #999;
}

.active {
    background-color: #333;
}