.indicatorContainer {
    display: flex;
    justify-content: center;
    gap:2%;
    padding: 1rem 0;
}

.dot {
    scale: 80%;
    background-color: #ea5427;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: #999;
}

.active {
    background-color: #333;
}


  