.toggleContainer {
    gap: 12px;
}

.switch {
    width: 50px;
    height: 28px;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.label {
    cursor: pointer;
    background-color: darkgray;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.label::before {
    content: "";
    height: 22px;
    width: 22px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.checkbox:checked+.label {
    background-color: #4CAF50;
}

.checkbox:checked+.label::before {
    transform: translateX(22px);
}