:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #fff4f1;
  min-height: 100vh;
}

p,
button {
  font-family: 'Exo', sans-serif;
}

button {
  font-weight: 700;
  color: #fff4f1;
}

p,
h4 {
  color: #2b2b2b;
}


h1,
h2 {
  font-family: Arial, sans-serif;
  color: #2b2b2b;
}

script {
  display: flex;
}